<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.ots">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".OTS"
        android:allowBackup="true"
        android:icon="@mipmap/ots"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="2CzUU1Byqlai6JeQchF5sNtRn1IoMeh27xNjdFnI" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="IusSrh1YklCQfjJ9vRxhq3EU4fyouX4ZuOuVUIfs" />

        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.android.ots.activities.WaitingTasksActivity">
        </activity>
        <activity android:name="com.example.android.ots.activities.ReportTaskActivity" >
        </activity>
        <activity android:name="com.example.android.ots.activities.EditTaskActivity" >
         </activity>
        <activity android:name="com.example.android.ots.activities.CreateTeamActivity" >
        </activity>
        <activity android:name="com.example.android.ots.activities.AboutActivity" />
        <activity android:name="com.example.android.ots.activities.ManageTeamActivity"/>

    </application>



</manifest>
